*.log
*.tmp
*.swp
*.swo
.DS_Store
Thumbs.db

*.o
*.obj
*.so
*.a
*.lib
*.dll
*.exe
*.out
*.app
*.dSYM/

.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.code-workspace

.vs/
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.suo
*.ncb
*.opensdf
*.sdf
*.ipch
*.aps
*.ilk
*.pch
*.pdb
*.log
*.tlog
*.obj
*.tlb
*.tli
*.idb
*.ipdb
*.iobj
*.dir
*.log
*.buildlog
*.o.*

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

conanbuildinfo.txt
conanbuildinfo.cmake
conaninfo.txt
graph_info.json

build.ninja
.ninja_deps
.ninja_log

cmake-build-*/

*.pro.user
*.qmake.stash
*.qmake.cache

build/
bin/
*.d
*.dep

Testing/
CTestTestfile.cmake
test/

*.bak
*~
